body{
    font-family: 'Roboto', sans-serif;
    font-size: 20px; 
    background-color: rgb(95, 142, 183);
    display: flex;
}
#parte-principal{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
#elemento-sorteado{
    display: inline-block;
    margin: 0 auto;
    
}
.elemento{
    height: 50px;
    width: 50px;
    background-color: #1fff9a;
    margin: 5px;
    border: 2px solid black;
    border-radius: 3px;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    display: flex;
    color: transparent;
}
#simbolo{
    height: 400px;
    width: 300px;
    background-color: #98a4a1;
    margin-top: 20px;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 3px;
}
.familia{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: nowrap;
}

.nao-metais{
    background-color: rgb(139, 255, 82);
}
.metais-alcalinos{
    background-color: rgb(250, 200, 0);
}
.metais-alcalinos-terrosos{
    background-color: rgb(251, 255, 1);
}
.lantanoides{
    background-color: rgb(102, 0, 48);
}
.actinoides{
    background-color: #bc60ee;
}
.metais-de-transicao{
    background-color: rgb(255, 99, 71);
}
.semimetais{
    background-color: rgb(5, 255, 247);
}
.gases-nobres{
    background-color: rgb(29, 95, 226);
}
.metais-representativos{
    background-color: blue;
}
.halogenios{
    background-color: #1fff9a;
}
#actinoides, #lantanoides{
    margin-left: 70px;
    display: flex;
}