#parte-principal{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
#elemento-sorteado{
    display: inline-block;
    margin: 0 auto;
    
}
.elemento{
    height: 50px;
    width: 50px;
    background-color: #1fff9a;
    margin: 5px;
    /*color: transparent;*/
    /*align-items: flex-end;*/
}

.familia{
    display: flex;
    margin: 5px;
    flex-direction: column;
    align-items: flex-end;
    background-color: bisque;
    flex-wrap: nowrap;
}

.nao-metais{
    background-color: rgb(139, 255, 82);
}
.metais-alcalinos{
    background-color: rgb(250, 200, 0);
}
.metais-alcalinos-terrosos{
    background-color: rgb(251, 255, 1);
}
.lantanoides{
    background-color: rgb(102, 0, 48);
}
.actinoides{
    background-color: #bc60ee;
}
.metais-de-transicao{
    background-color: rgb(255, 99, 71);
}
.semimetais{
    background-color: rgb(5, 255, 247);
}
.gases-nobres{
    background-color: rgb(29, 95, 226);
}
.metais-representativos{
    background-color: blue;
}
.halogenios{
    background-color: #1fff9a;
}
#actinoides, #lantanoides{
    margin-left: 70px;
    display: flex;
}